body {
    color: rgb(255, 255, 255);
    background-color: #000000;
    text-align: center;
    font-family: 'Pirata One';
    font-size: 25px;
}


h1 {
    color: #ffffff;
    text-shadow:0 0 1px black, 0 0 10px #ffaf00;
    text-align: center;
    font-family:'UnifrakturMaguntia', cursive;
    font-size: 80px;   
}

h2 {
    color: rgb(38, 21, 21);
    text-align: center;
    font-family:'Pirata One';
    font-size: 50px;
}

h3 {
  color:#ffffff;
  text-align: center;
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 40px;
}

p {
    color: rgb(255, 255, 255);
}

footer {
    position: fixed; bottom: 0em;
}

a:link {
    color: rgb(72, 175, 226);
    background-color: transparent;
    text-decoration: none;
}
  
  a:visited {
    color: rgb(206, 30, 30);
    background-color: transparent;
    text-decoration: none;
}
figcaption {
    font-family: 'UnifrakturMaguntia', cursive;
}
  @font-face {
    font-family: 'UnifrakturMaguntia';
    src: url(assets/UnifrakturMaguntia-Regular.ttf);
}
 @font-face {
    font-family: 'Pirata One';
    src: url(assets/PirataOne-Regular.ttf);
 }
 abbr {
    font-variant: all-small-caps;
  }
  
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: solid rgba(206, 30, 30, 0.417)
}
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    background: rgb(255, 140, 0);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: inline-block;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
}

div { 
  text-align: center;
}

.scripture-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}