/* this is a css style sheet, the syntax for a comment in CSS is different because it's a separate language to HTML */
/* below I am calling all the different HTML elements that I have used in the page and describing how it should be rendered on screen within the {curly brackets}. */
body {
    background: rgb(255, 140, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Pirata One';
    font-size: 25px;
}

.body-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family:'UnifrakturMaguntia', cursive;
    font-size: 80px;   
}

h2 {
    color: rgb(38, 21, 21);
    text-align: center;
    font-family:'Pirata One';
    font-size: 50px;
}

h3 {
  color:#fff;
  text-align: center;
  font-family: 'Pirata One';
  font-size: 35px;
  font-weight: initial;

}


p {
    color: rgb(255, 255, 255);
}

footer {
    position: fixed; bottom: 0em;
}

.box1 {
    border: thick double hotpink;
    padding: 1em;
}

a:link {
    color: rgb(72, 175, 226);
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: rgb(206, 30, 30);
    background-color: transparent;
    text-decoration: none;
}

figcaption {
    font-family: 'Pirata One'
}

@font-face {
    font-family: 'UnifrakturMaguntia';
    src: url(assets/UnifrakturMaguntia-Regular.ttf);
}

@font-face {
    font-family: 'Pirata One';
    src: url(assets/PirataOne-Regular.ttf);
 }

abbr {
    font-variant: all-small-caps;
  }
  
 /* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: solid rgba(206, 30, 30, 0.417)
}

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    background: rgb(255, 140, 0);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  #Church {
    background-image: url(assets/window1.PNG);
    background-size: cover;
    width:834px;
    height:1112px;
  }

  #Church:hover {
   background-image: url(assets/Windowhover.PNG);
   width:834px;
   height:1112px;
   transition-delay: .1s;
   transition-duration: 1s;
  }
  
  div { 
    text-align: center;
  }
  